{% extends 'base.html.twig' %}

{% block body %}

<div>
    <div id="fontText" class="flex flex-col text-[40px]">
        <p class="px-[128px] pt-[30px] pb-[25px]">About Us</p>
    </div>

    <div id="secondaryText" class="text-[24px] leading-tight">
        <p class="px-[128px]">Welcome to GameMatcher, the ultimate destination for PC gamers looking to maximize their gaming experience!</p>
        <br>
        <p class="px-[128px]">We understand that finding the right games for your hardware can be frustrating and time-consuming. That's why we
        created GameMatcher—a powerful tool designed to match your PC's specifications with the games you can enjoy. Whether you
        have a budget build or a high-performance rig, GameMatcher simplifies the search by offering tailored recommendations
        based on your setup.</p>
        <br>
        <p class="px-[128px]">But we're more than just a tool. GameMatcher is also a hub for gaming enthusiasts. With our dedicated news section,
        you'll stay up-to-date on the latest developments in the gaming world, from industry trends to new game releases.</p>
        <br>
        <p class="px-[128px]">Our mission is to help gamers of all levels enjoy the best possible gaming experience without worrying about system
        requirements. We believe in making gaming accessible, transparent, and fun for everyone.</p>
        <br>
        <p class="px-[128px]">So, whether you're a casual gamer exploring new titles or an experienced pro planning your next hardware upgrade,
        GameMatcher is here to guide you every step of the way.</p>
        <br>
        <p class="px-[128px]">Join us on this journey and discover a smarter way to game.</p>
    </div>
</div>

{% endblock %}