{% extends 'base.html.twig' %}

{% block body %}

<div>
    <div id="fontText" class="flex justify-center text-[52px]">
        <p class="px-[128px] pt-[30px] pb-[25px]">FAQs</p>
    </div>

    <div id="secondaryText" class="text-[24px] leading-tight space-y-5">
        <h1 id="fontText" class="px-[128px] text-[52px]">What is GameMatcher?</h1>
        <p class="px-[128px]">GameMatcher is a platform designed for PC gamers to help you find games compatibles with your hardware. Simply input your system specifications, and tool compares the minimum requirements of availble games to show yout which ones you can enjoy seamlessly.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">How does the hardware comparison tool work?</h1>
        <p class="px-[128px]">Our tool uses an up-to-date database of games and their minimum system requirements.Just enter your PC’s specs (such as processor, graphics card and RAM), and GameMatcher will analyze which games are compatible witch your setup.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">What hardware specifications do I need to provide?</h1>
        <p class="px-[128px]">To get accurate results, we’ll ask for key details such as your Processor, your Graphics card and your RAM. The more detailed your input, the more precise the recommendations.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">Can I search for games by genre or preferences?</h1>
        <p class="px-[128px]">Absolutely! In addition to compatiblitiy searches, you can filter results based on your preferences, such as
        genre(action, strategy, RPG, etc) or search for popular and recommended games.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">Is GameMatcher free to use?</h1>
        <p class="px-[128px]">Our basic comparison tool is completely free. We also offer advanced features for users who want more, such as personalized recommendatios, notifications new compatible games, and in-depth hardware analysis.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">Do you offer news about video games?</h1>
        <p class="px-[128px]">Yes! GameMatcher includes a dedicated news section focused on the world of video games and the gaming industry. Stay
        updated withc the latest news, announcements of new releases, major updates, and trends in the gaming world.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">How often is your game database updated?</h1>
        <p class="px-[128px]">Our database is regularly update with the latest information from developers and distribution platforms like Steam, Epic Games, and other reliable sources. This ensures you always get accurate and up-to-date game recommendations.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">Can I use GameMatcher to plan a hardware upgrade?</h1>
        <p class="px-[128px]">Definitely! If you’re considering  upgrading your PC, you can use our tool to check  which games you’ll be able to play witch different hardware configurations. This can help your prioritize which components to upgrades.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">Does GameMatcher work on mobile devices or only on PCs?</h1>
        <p class="px-[128px]">GameMatcher is accessible from any browser, including mobile devices, although it’s optimized for PC users. We plan to
        expand our mobile features in the future.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">Can I create a profile and save my results?</h1>
        <p class="px-[128px]">Yes! By creating a free account, you can save your system specifications, review your previous search, and receive
        personalized recommendations based on your profile.</p>
        <br>
        <h1 id="fontText" class="px-[128px] text-[52px]">How can I contact you if I have questions or issues?</h1>
        <p class="px-[128px]">You can reach out to our team via email at support@GameMatcher.com or through the support form on our website. We’ll be
        happy to assist you.</p>
        <br>
    </div>
</div>

{% endblock %}