{% extends 'base.html.twig' %}

{% block title %}GAMEMATCHER{% endblock %}



{% block body %}

    <div class="flex items-center bg-[url(../../public/assets/pc-gaming.png)] bg-no-repeat bg-cover bg-center h-[calc(100vh-80px)] w-screen">

        <div id="fontText" class="w-full h-[60vh] bg-black bg-opacity-60 flex-col content-center"> 
            <p class="text-[80px] text-center mx-[20vw] leading-none">¿QUIERES SABER QUÉ JUEGOS PUEDES JUGAR EN TU ORDENADOR?</p>
            <p class="text-[32px] text-center mx-[20vw] pt-10">RELLENA NUESTRO FORMULARIO CON TU HARDWARE Y DESCÚBRELO ;)</p>
        </div>

<div id="footerText" class="content-center absolute h-10 bg-black bg-opacity-60 w-full self-end ">

            <p class="text-[16px] text-center mx-[20vw] leading-none">COPYRIGHT 2024 &copy;</p>
        </div>
    </div>


{% endblock %}


