{% extends 'base.html.twig' %}

{% block title %}Myspecs index{% endblock %}

{% block body %}
    <h1>Myspecs index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for myspec in myspecs %}
            <tr>
                <td>{{ myspec.id }}</td>
                <td>
                    <a href="{{ path('app_myspecs_show', {'id': myspec.id}) }}">show</a>
                    <a href="{{ path('app_myspecs_edit', {'id': myspec.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_myspecs_new') }}">Create new</a>
{% endblock %}
