{% extends 'base.html.twig' %}

{% block title %}Edit Ramlist{% endblock %}

{% block body %}
    <h1>Edit Ramlist</h1>

    {{ include('ramlist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ramlist_index') }}">back to list</a>

    {{ include('ramlist/_delete_form.html.twig') }}
{% endblock %}
