.bgcolor{
    background-color: #333333;
}
#fontText{ 
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;

}
#headercolor{
    background-color: #1c1c1c;
}
@tailwind base;
@tailwind components;
@tailwind utilities;