<form method="post" action="{{ path('app_cpulist_delete', {'id': cpulist.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cpulist.id) }}">
    <button class="btn">Delete</button>
</form>
