{% extends 'base.html.twig' %}

{% block title %}Edit Cpulist{% endblock %}

{% block body %}
    <h1>Edit Cpulist</h1>

    {{ include('cpulist/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cpulist_index') }}">back to list</a>

    {{ include('cpulist/_delete_form.html.twig') }}
{% endblock %}
